body.wpzinc {
	/**
	* Progress Bar
	*/
	.wpzinc-option.progressbar {
		@import "progressbar";
	}
}

/**
 * Menu Icon
 */
li.toplevel_page_social-post-flow {
    a {
		div.wp-menu-image {
			img {
				width: 16px;
				height: 16px;
			}
		}
	}
}

/**
* Header Icon
*/
body.wpzinc.social-post-flow {
	div.wrap {
		h1.wp-heading-inline {
			background-image: url(../images/icons/social-post-flow-dark.svg);
			background-position: 25px 50%;
			background-repeat: no-repeat;
			background-size: 32px 32px;
		}
	}
}

/**
* Post Meta
*/
body.post-php,
body.post-new-php {
	#social-post-flow {
		/**
		 * Force Gutenberg Show / Hide Arrow Button to display over h2.hndle,
		 * otherwise .hndle background will hide this button
		 */
		> .handlediv {
			position: relative;
			z-index: 2;
		}

		> .hndle {
			background: #fff;
			border-top: 1px solid #e5e5e5;
			border-right: 1px solid #e5e5e5;
			border-left: 1px solid #e5e5e5;	
		}

		div.inside {
			margin: 0;
			padding: 0;

			#social-post-flow-pro-override {
				display: none;
				margin-top: -1px;
				border-bottom: 1px solid #dfdfdf;
			}
		}
	}

	/**
	 * Image
	 */
	#social-post-flow-image {
		div.inside {
			margin: 0;
			padding: 0;
		}
	}
}

/**
* Log
*/
#social-post-flow-log {
	div.inside {
		margin: 0;
		padding: 0;	
	
		div.wpzinc-option {
			table.social-post-flow-log {
				thead {
					tr {
						th {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}
table.social-post-flow-log {
	tbody {
		tr {
			&.success {
				td, th {
					background: #ddfede;
				}

				&.alternate {
					td, th {
						background: #cafcbb;
					}
				}
			}

			&.warning {
				td, th {
					background: #ffa500;
				}

				&.alternate {
					td, th {
						background: #e6a62e;
					}
				}
			}

			&.error {
				td, th {
					background: #ffcdcd;
				}

				&.alternate {
					td, th {
						background: #fcbbbb;
					}
				}

				a {
					text-decoration: none;
				}
			}
		}
	}
}

/**
* Gutenberg Meta Boxes
*/
body.block-editor-page {
	#social-post-flow,
	#social-post-flow-log {
		margin-bottom: 20px;
	}
}

/**
* Settings (Post Meta and Settings Screen)
*/
#social-post-flow {
	ul.wpzinc-nav-tabs {
		li {		
			/**
			* Settings
			*/
			&.image {
				a {
					background-image: url(../../_modules/dashboard/feather/image.svg);
					background-size: 16px 16px;
				}
			}
			&.lock {
				a {
					background-image: url(../../_modules/dashboard/feather/lock.svg);
					background-size: 16px 16px;
				}
			}
			&.arrow-right-circle {
				a {
					background-image: url(../../_modules/dashboard/feather/arrow-right-circle.svg);
					background-size: 16px 16px;
				}
			}
			&.file-text {
				a {
					background-image: url(../../_modules/dashboard/feather/file-text.svg);
					background-size: 16px 16px;
				}
			}
			&.users {
				a {
					background-image: url(../../_modules/dashboard/feather/users.svg);
					background-size: 16px 16px;
				}
			}
			&.tag {
				a {
					background-image: url(../../_modules/dashboard/feather/tag.svg);
					background-size: 16px 16px;
				}
			}

			/**
			* Post Types
			*/
			&.default {
				a {
					background-image: url(../../_modules/dashboard/feather/settings.svg);
					background-size: 16px 16px;
				}
			}
			&.facebook {
				a {
					background-image: url(../../_modules/dashboard/feather/facebook.svg);
					background-size: 16px 16px;
				}
			}
			&.threads {
				a {
					background-image: url(../../_modules/dashboard/feather/at-sign.svg);
					background-size: 16px 16px;
				}
			}
			&.instagram {
				a {
					background-image: url(../../_modules/dashboard/feather/instagram.svg);
					background-size: 16px 16px;
				}
			}
			&.x {
				a {
					background-image: url(../../_modules/dashboard/feather/x.svg);
					background-size: 16px 16px;
				}
			}
			&.mastodon {
				a {
					background-image: url(../../_modules/dashboard/feather/mastodon.svg);
					background-size: 16px 16px;
				}
			}
		}
	}

	ul.wpzinc-nav-tabs,
	ul.wpzinc-nav-tabs-horizontal {
		li {
			a {
				span.dashicons.dashicons-yes {
					display: none;
				}
				&.enabled {
					span.dashicons.dashicons-yes {
						display: inline-block;
					}
				}
			}
		}
	}

	/**
	 * Media Library
	 */
	.wpzinc-media-library {
		width: 150px;
	}

	/**
	* Postbox
	*/
	div.postbox {
		width: 100%;

		/**
		* Statuses
		*/
		div.statuses {
			/**
			* Status
			*/
			tr.status {
				/**
				* Don't display first status' delete button
				*/		
				&.first {
					td.actions {
						a.delete-status {
							display: none;
						}
					}
				}

				/**
				* Columns
				*/
				td {
					&.count {
						width: 20px;
					}
					&.actions {
						width: 80px;
					}
					&.text {

					}
					&.image {

					}
					&.schedule {

					}
					&.conditions {

					}
				}
			}

			/**
			 * Status Form Container Row
			 */
			tr.status-form-container {
				> td {
					padding: 0;
				}
			}
		}
	}
}

/**
* Status Form
*/
body.wpzinc {
	.wrap {
		#social-post-flow-status-form {
			> .wpzinc-option {
				padding: 20px 30px;
			}

			div.notice-inline {
				margin: 5px 0 15px 0;
				border-top: 1px solid #ccd0d4;
				border-right: 1px solid #ccd0d4;
				border-bottom: 1px solid #ccd0d4;

				p {
					margin: .5em 0;
				}
			}

			div.images {
				margin: 0 0 10px 0;

				select.right {
					margin: 0 0 0 5px;
				}
			}

			div.tags {
				margin: 0 0 10px 0;
			}

			/**
			 * Character Count
			 */
			small.characters {
				display: inline-block;
				line-height: 1;
			}

			h3 {
				margin: 0;
			}

			/**
			 * Status
			 */
			div.status,
			div.scheduling,
			div.pinterest,
			div.googlebusiness,
			div.images,
			div.text-to-image {
				select,
				input[type=text],
				textarea {
					margin: 0 0 7px 0;
				}
			}

			/**
			 * Scheduling
			 */
			div.schedule {
				label,
				.custom {
					display: inline-block;
					vertical-align: middle;
				}

				input[type=number] {
					width: 50px;
				}
			}

			/**
			* Section divider
			*/
			div.section {
				margin: 15px 0 0 0;
				padding: 15px 0 0 0;
				border-top: 1px solid #dfdfdf;

				table {
					th.actions,
					td.actions {
						width: 71px;
					}
				}
			}
		}
	}
}

/**
* Table Row Repeaters (Custom Fields, Custom Tags)
*/
table {
	tr.hide-delete-button {
		td {
			.wpzinc-delete-table-row {
				display: none;
			}
		}
	}
}

/**
* Responsive
*/
@import "responsive";